/*mark*/
.linkstart{
	position: fixed;
	width: 100%;
	height: 100%;
/*	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
	background: linear-gradient(#FEFEFE,#9D9D9D);
	z-index: 1000;
	opacity: 1;
	transition: all 1s;
}
.bgmuisc{
	display: none;
}
.welcome-wrapper{
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	text-align: center;
	z-index: 10;
	transition: all 1s;
	transition-delay: 3s;
	opacity: 1;
}
.welcome{
	display: block;
	font-size: 60px;
	color: #fff;
	transition: all 1s;
	transition-delay: 0.5s;
	transform: scaleX(0);
	padding: 20px 0px;
	border-bottom: 4px solid rgba(255,255,255,0.5);
}
@media screen and (max-width: 768px) {
	.welcome{
		display: block;
		font-size: 24px;
		color: #fff;
		transition: all 1s;
		transition-delay: 0.5s;
		transform: scaleX(0);
		padding: 6px 0px;
		border-bottom: 1px solid rgba(255,255,255,0.5);
	}
}
.link{
	position: relative;
	top: 80%;
	text-align: center;
	font-size: 60px;
	transition: all 0.2s;
	color: #8D8989;
}
.link:hover{
	color: #F7F0F0;
	text-shadow: 0 0 20px #f7f0f0;
}
/*菜單*/
#menu-outer{
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%; 
	background-color: #235e4a;
	box-shadow: 0px 0 5px rgba(237,237,237,0.5);
	transform: translate3d(-260px,0,0);
	transition: all 0.5s;
	z-index: 10;
}
#menu-inner{
	position: relative;
	height: 100%;
	width: 300px;
	background: url(../images/immortal.png);
	background-repeat: no-repeat;
	background-position: 50% 20px;
	background-size: 75%;
}
@media screen and (max-width: 768px){
	#menu-inner{
		position: relative;
		height: 100%;
		width: 300px;
		background: url(../images/immortal.png);
		background-repeat: no-repeat;
		background-position: 50% 10px;
		background-size: 75%;
	}
}
/*color*/
.color{
	position: absolute;
	width: 220px;
	padding: 0 40px;
	left: 0;
	bottom: 10%;
}
.color-ul{
	display: flex;
}
.color-li{
	flex: 1;
	height: 20px;
	margin: 5px;
	border: 1px solid #FFF;
	border-radius: 3px;
}
.color-li:nth-child(1){
	background-color: #207f5f;
}
.color-li:nth-child(2){
	background-color: #531010;
}
.color-li:nth-child(3){
	background-color: #590b4d;
}
.color-li:nth-child(4){
	background-color: #0c2159;
}
.menu-button{
	position: fixed;
	left: 5px;
	top: 20px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #31db9b;
	transition: all 0.5s;
	z-index: 100;
	opacity: 0.5;
}
.menu-button:hover{
	box-shadow: 0 0 15px rgb(225,225,255);
}
.menu-button-inner{
	position: absolute;
	top: 2px;
	left: 2px;
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 2px solid #000;
	transition: all 0.5s;
}
@media screen and (min-width: 768px){
	.tip-table{
		width: 0px;
		height: 60px;
		position: absolute;
		left: 32px;
		top: -8px;
		background-image: url(../images/is_list_normal.png);
		background-repeat: no-repeat;
		transition: all 0.3s;
		opacity: 0;
	}
	.menu-icon-li:hover .tip-table{
		opacity: 1;
		width: 128px;
	}
}
@media screen and (max-width: 768px){
	.myinfo-button{
		display: none;
	}
}
.myinfo-button{
	position: fixed;
	right: 20px;
	top: 220px;
	width: 30px;
	height: 30px;
	background-color: #91bbb2;
	opacity: 0.8;
	border-radius: 50%;
	background-image: url(../images/navi_normal.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 100;
}
.myinfo-button:hover .info{
	width: 270px;
	transform: translateX(-266px);
	opacity: 1;
}
.info{
	position: absolute;
	width: 0px;
	height: 430px;
	transform: translateX(50px);
	top: -200px;
	opacity: 0;
	transition: all 0.1s;
	transition-delay: 0.5s;
	background-image: url(../images/panel.png);
	background-repeat: no-repeat;
}
.info h1{
	position: absolute;
	width: 100%;
	right: 10px;
	line-height: 54px;
	text-align: center;
	font-size: 18px;
	color: #555050;
}
.info-img{
	position: absolute;
	top: 50px;
	width: 100%;
	height: 230px;
	right: 10px;
	background-image: url(../images/info.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.info-text{
	position: absolute;
	width: 100%;
	height: 142px;
	right: 10px;
	bottom: 8px;
}
.info-text p{
	position: absolute;
	line-height: 30px;
	margin-left: 26px;
	color: #555050;
	font-size: 12px;
}
.menu-icon{
	position: absolute;
	top: 50%;
	left: 265px;
	transform: translateY(-50%);
	width: 30px;
	z-index: 30;
}
.menu-icon-li{
	position: relative;
	height: 62px;
	width: 30px;
}
.menu-icon-li-span{
	position: relative;
	display: block;
	top: 8px;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background-color: rgb(19, 189, 126);
	background-size: cover;
	background-repeat: no-repeat;
}
.menu-icon-li-span:hover{
	box-shadow: 0 0 15px rgb(225,225,255);
}
.menu-icon-1{
	background-image: url(../images/home2_normal.png);
	transition: all 0.1s;
	transition-delay: 0s;
}
.menu-icon-2{
	background-image: url(../images/apps4_normal.png);
	transition: all 0.1s;
	transition-delay: 0.1s;
}
.menu-icon-3{
	background-image: url(../images/info_normal.png);
	transition: all 0.1s;
	transition-delay: 0.2s;
}
.menu-icon-4{
	background-image: url(../images/move_normal.png);
	transition: all 0.1s;
	transition-delay: 0.3s;
}
.menu-inner-list{
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	width: 0;
}
@media screen and (max-width: 768px){
	.menu-icon{
		position: absolute;
		top: 55%;
		left: 265px;
		transform: translateY(-50%);
		width: 30px;
		z-index: 30;
	}
	.menu-inner-list{
		position: absolute;
		top: 55%;
		left: 100%;
		transform: translateY(-50%);
		width: 0;
	}
}
.menu-inner-list-li{
	position: relative;
	height: 60px;
	left: 241px;
	opacity: 0;
	width: 0;
	margin-right: 60px;
	border-bottom: 2px solid #FFF;
	transition: all 0.1s;
}
.menu-inner-list-li:nth-child(1){
	transition-delay: 0.15s;
}
.menu-inner-list-li:nth-child(2){
	transition-delay: 0.25s;
}
.menu-inner-list-li:nth-child(3){
	transition-delay: 0.35s;
}
.menu-inner-list-li:nth-child(4){
	transition-delay: 0.45s;
}
.myCanvas{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	z-index: 50;
	overflow: hidden;
}
.myCanvas-li{
	position: relative;
	height: 60px;
	top: -52px;
	width: 0;
	right: -10px;
	border-bottom: 2px solid #FFF;
	transform: rotate(-45deg);
	transition: all 0.1s;
	opacity: 0;
}
.myCanvas-li:nth-child(1){
	transition-delay: 0.1s;
}
.myCanvas-li:nth-child(2){
	transition-delay: 0.2s;
}
.myCanvas-li:nth-child(3){
	transition-delay: 0.3s;
}
.myCanvas-li:nth-child(4){
	transition-delay: 0.4s;
}
.menu-inner-list-li a{
	display: block;
	line-height: 60px;
	font-size: 24px;
	padding-left: 20px;
	color: #FFF;
	opacity: 0;
}
.menu-inner-list-li a:hover{
	text-shadow: 0px 0 10px #FFF;
	transform: scale(1.1);
}
.menu-li-Home{
	transition: all 0.2s;
	transition-delay: 0.1s;
}
.menu-li-Categories{
	transition: all 0.2s;
	transition-delay: 0.2s;
}
.menu-li-Contact{
	transition: all 0.2s;
	transition-delay: 0.3s;
}
.menu-li-Archives{
	transition: all 0.2s;
	transition-delay: 0.4s;
}
.menu-li-Tag{
	transition: all 0.2s;
	transition-delay: 0.5s;
}
.menu-li-About{
	transition: all 0.2s;
	transition-delay: 0.6s;
}

/*頭部*/
/*#header{
	position: relative;
	height: 100px;
	max-width: 828px;
	margin: 0px auto 100px auto;
	background-image: url(../images/headerbg.png);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 12px #94F9EA;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	opacity: 0.8;
	z-index: 10;
}*/

/*内容*/
#content-outer{
	position: relative;
	max-width: 800px;
	min-height: 800px;
    margin: 0px auto 50px auto;
    padding: 50px 30px;
	background-color: #235e4a;
	box-shadow: 0 0 12px #235e4a;
	color: #fff;
	z-index: 1;
	opacity: 0;
	transition: 0.5s;
	transition-delay: 0.5s;
	transform: scaleX(0);
}
@media screen and (max-width: 768px){
	#content-outer{
		margin-left: 40px;
	}
}
/*文章*/
#post{
	margin-bottom: 40px;
}
#post h1{
	line-height: 30px;
	padding: 10px 0;
	text-align: center;
	font-size: 24px;
}
#post span{
	display: block;
	width: 100%;
	margin-bottom: 30px; 
	line-height: 20px;
	text-align: center;
	font-size: 12px;
}
#post_content p img{
	position: relative;
	top: 0;
	left: -4px;
	width: 100%;
	height: 100%;
	margin-bottom: 30px;
	border: 4px solid #fff;
	box-shadow: 0 0 1px #C5C5C5;
	transition: all 0.5s;
	z-index: 1;
}
#post_content p img:hover{
	transition-delay: 0.5s; 
	transform: scale(1.05);
}
#post_content h4{
	margin-bottom: 20px;
	line-height: 20px;
	padding: 10px 0;
	font-size: 16px;
}
#post_content ul{
	margin: 20px 0;
	padding-left: 30px;
	list-style: circle; 
}
#post_content ul li{
	line-height: 20px;
	padding: 5px;
	font-size: 12px;
}
.tag{
	padding: 5px 10px;
	transition: all 0.3s;
	line-height: 20px;
	text-align: center;
	font-size: 10px;
	border-radius: 5px;
	border: 1px solid #FFF;
	color: #fff;
}
.tag:hover{
	color: #5F6160;
	background-color: #DAE8EF;
}
#bottom-outer{
	position: relative;
	width: 100%;
	height: 50px;
	transition: all 0.3s;
}
#bottom-inner{
	font-family: serif;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}
/*pagination*/
#pagination{
	position: absolute;
    width: 100%;
    bottom: 20px;
    right: 0px;
	text-align: center;
}
.prev,.next{
	color: #FFF;
	padding: 0 10px;
}
/*archive*/
#archive{
	margin-bottom: 40px;
}
#archive h1{
	height: 50px;
	width: 100%;
	margin-bottom: 50px;
	padding-bottom: 20px;
	border-bottom: 5px solid #FFF;
	border-radius: 4px;
	line-height: 50px;
	font-size: 30px;
	text-align: center;
}
#archive h2{
	position: relative;
	height: 30px;
	margin-bottom: 20px;
	margin-left: 20px;
	line-height: 30px;
	font-size: 20px;
}
#archive h2:before{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 10px;
	left: -20px;
	background: #FFF;
}
#archive aside{
	margin-bottom: 30px;
    padding: 20px;
	background: #072a1b;
    border-radius: 5px;
}
#archive ul{
	margin-left: 30px;
	list-style: circle;
}
#archive ul li{
	height: 30px;
	line-height: 30px;
}
#archive ul li a{
	color: #FFF;
}
#category h1,#tag h1{
	height: 40px;
	line-height: 40px;
	text-align: left;
	font-size: 30px;
	padding-left: 15px;
	margin-bottom: 30px;
	border-left: 4px solid #FFF;
}
.category-item,.tag-item{
	padding: 10px;
}
.category-item a,.tag-item a{
	display: block;
	width: 100%;
	height: 30px;
	color: #FFF;
	line-height: 30px;
	font-size: 14px;
}
.category-item time,.tag-item time{
	height: 30px;
	float: right;
	padding-right: 20px;
	line-height: 30px;
	font-size: 14px;
	color: #FFF;
}
.archive-time{
	margin: 20px 0; 
	padding-bottom: 20px;
	border-bottom: 2px solid #FFF;
}
.archive-time h1{
	height: 50px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	line-height: 50px;
	text-align: left;
	font-size: 30px;
}
.archive-item{
	height: 30px;
}
.archive-item a{
	line-height: 30px;
	color: #FFF;
}
.archive-item time{
	float: right;
	padding-right: 10px;
}
/*最近发布*/
#recent-posts{
}
#recent-posts h1{
	border-bottom: none;
}
#recent-posts h2{
	line-height: 40px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
	color: #FFF;
}
.recent-post-item{
	height: 40px;
	margin-bottom: 10px;
}
.recent-post-item time{
	float: right;
	padding-right: 10px;
	line-height: 20px;
	color: #FFF;
	font-size: 14px;
}
.recent-post-item a{
	padding-left: 20px;
	border-left: 2px solid #FFF;
	line-height: 20px;
	color: #FFF;
	font-size: 14px;
}